{% extends 'home/navbar.html' %}
{% block main_section %}
{% load static %}

            <h1> Welcome to registration page </h1>
            <div class='jumbotron'>
                {% if registered %}
                    <h1> thank you for regestration </h1>
                {% else %}

                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}

                    <input type="submit" value="register">
                    </form>
                {% endif %}
            </div>
{% endblock main_section %}

{% block footer_section %}
{% endblock footer_section %}